<body>
    <table>
        <caption>caption</caption>
        <tr>
            <th>id</th>
            <th>companyName</th>
            <th>yearOfIncorporation</th>
            <th>postalCode</th>
            <th>employeeCount</th>
            <th>slogan</th>
        </tr>
        <tr id="organizations">
            <td id="id">id</td>
            <td id="companyName">companyName</td>
            <td id="yearOfIncorporation">yearOfIncorporation</td>
            <td id="postalCode">postalCode</td>
            <td id="employeeCount">employeeCount</td>
            <td id="slogan">slogan</td>
        </tr>
    </table>
</body>